/* Hero */
.hero-content {
    margin-top: 150px;
}

.hero {
    overflow: visible;
}
.hero-text{
    margin-top: 200px;
}

.heart-string {
    position: absolute;
    width: 250px;
    z-index: -1;
    left: 260px;
    top: 540px;
}

.headline {
    .man-rocket {
        width: 38vw;
        left: 34vw;
    }
    .bg {
        width: 25vw;
        right: 0px;
        top: 6.25vw;
    }
    .cube-white {
        width: 14.5vw;
        left: 33vw;
        top: 30vw;
    }
    .flower-pot {
        width: 8vw;
        right: -5.75vw;
        top: 15.5vw;
    }
    .mouse {
        width: 18.75vw;
        right: -9.375vw;
        top: 34.375vw;
    }
    .ball {
        width: 14.375vw;
        left: 18.75vw;
        top: 3.125vw;   
    }
    .circle-1 {
        background: rgba(250, 184, 196, 0.18);
        width: 26.25vw;
        height: 26.25vw;
        left: 5vw;
        top: 9.3vw;
    }
}

/* Awards */
#awards {
    padding-top: 12.5vw;

    .container {
        margin-top: 6.25vw;
    }

    img {
        margin-top: 1.25vw;    
    }
}
#awards img {
    width: 100%;
}

/* Light Bulb Moments */
#light-bulb {
    padding: 30vw 0 12vw 0px;

    .container {
        position: relative;
    }
    .flower {
        position: absolute;
        width: 26.25vw;
        left: -6.25vw;
        top: -7.5vw;
    }
    .lamp {
        position: absolute;
        width: 37.5vw;
        right: -21.875vw;
        top: -13.75vw;
    }
    .cloud {
        position: absolute;
        width: 14.375vw;
        left: 6.25vw;
        top: -23.75vw;
    }
    .bucket {
        width: 18.75vw;
    }
    .container-center {
        margin-top: 15.625vw;
    }
    .circle-1 {
        width: 31.25vw;
        height: 31.25vw;
        background: rgba(250, 184, 196, 0.18);
        right: -9.375vw;
        top: -34.375vw;
    }
    .sub-title {
        margin-top: 1.875vw;
    }
    .string {
        width: 13.75vw;
        transform: rotate(50.75deg);
        top: 2.5vw;
        right: 21.875vw;
    }
}

/* Make Business Plan */
#business_plan{
    padding: 4rem 0;
    position: relative;
    .shapes-container {
        z-index: 1 !important
    }
    .business-scene {
        width: 100%;
    }
    .cursor {
        position: absolute;
        width: 9vw;
        top: 4vw;
        left: 35vw;
    }
    .business-card {
        position: absolute;
        width: 20vw;
        right: 0vw;
        top: 10vw;
    }
    .hand-left {
        position: absolute;
        width: 17vw;
        top: 15vw;
        left: 2vw;
    }
    .hand-right {
        position: absolute;
        width: 20vw;
        bottom: 0vw;
        right: -2vw;
    }
    .circle-1 {
        background: rgba(250, 184, 196, 0.18);
        right: 0px;
        top: -33.75vw;
    }
}

#business_legit{
    padding: 10rem 0;
    position: relative;

    .man-checker {
        width: 75vw;
        margin-left: 3.4vw;
    }
    .cubes {
        width: 15.625vw;
        left: -6.25vw;
        top: 0px;
    }
    .ball-blue {
        width: 10vw;
        right: 11.25vw;
        top: 10.625vw;
    }
    .files {
        width: 28.125vw;
        left: 6.25vw;
        bottom: 18.75vw;
    }
    .message {
        width: 18.75vw;
        right: 9.3vw;
        bottom: 18.75vw;
    }
    .listing {
        z-index: -1;
        height: 31.25vw;
        left: -12.5vw;
        top: 21.8vw;
    }
    .circle-1 {
        width: 38vw;
        height: 38vw;
        background: rgba(250, 200, 184, 0.18);
        top: 8vw;
        left: 15vw;
    }
}

/* Adoption */
#adoption{
    padding: 0 0 5rem 0;
    position: relative;

    .container {
        padding-bottom: 7vw;
    }

    .shapes-container {
        margin-top: 18.75vw;
    }

    .flat-monitor {
        width: 50%;
        margin: auto 0;
    }
    .cylinder-red {
        width: 6.25vw;
        left: 13.75vw;
        top: -9.375vw;
    }
    .cylinder-green {
        width: 6.25vw;
        right: 12.5vw;
        top: -0.6vw;
    }
    .compas {
        width: 9.3vw;
        left: 11.25vw;
        bottom: 1.25vw;
    }
    .pie-chart {
        z-index: -1;
        width: 20vw;
        right: 7.5vw;
        bottom: 0vw;
        z-index: 1;
    }
    .circle-1{
        background: rgba(214, 96, 255, 0.11);
        width: 27vw;
        height: 27vw;
        left: 14vw;
        top: 18vw;
    }
    .circle-2{
        background: rgba(96, 150, 255, 0.11);
        width: 25vw;
        height: 25vw;
        right: 3vw;
        top: -9vw;
    }
}

/* Funding */
#funding{
    padding: 5rem 0;
    position: relative;

    .shapes-container{
        margin-top: 200px;
    }
    .sim {
        width: 90%;
    }
    .ball-yellow {
        width: 9.3vw;
        left: -7.5vw;
        top: 12.5vw;
    }
    .files {
        width: 21.8vw;
        left: 0px;
        top: 14.3vw;
    }
    .phone-circle-graph {
        width: 6.25vw;
        right: 14.3vw;
        top: 6.25vw;
    }
    .cubes {
        width: 12.5vw;
        right: -3.1vw;
        top: -5vw;
    }
    .dollar-coin {
        width: 18.75vw;
        left: 23.125vw;
        top: -5vw;
    }
    .calculator {
        width: 18.75vw;
        left: 18.75vw;
        bottom: 7.5vw;
    }
    .curve-line {
        z-index: -2;
        width:150%;
        left: -15vw;
    }
}

/* User Experience */
#user_experience{
    padding: 10rem 0;
    position: relative;

    .shapes-container {
        margin-top: 12.5vw;
    }

    .user-experience {
        width: 80%;
        margin: auto 0;
    }
    .marker {
        width: 21.8vw;
        left: 25vw;
        top: -5vw;
    }
    .hand-right {
        width: 18.75vw;
        right: 7.5vw;
        top: 3.1vw;
    }
    .cubes {
        width: 15.6vw;
        right: 0px;
        top: 21.8vw;
    }
}

/* Good Code */
#good_code{
    padding: 5rem 0;
    position: relative;

    .shapes-container {
        margin-top: 12.5vw;
        margin-bottom: 6.25vw;
    }
    .blue-scene {
        width: 60%;
        margin: auto 0;
    }
    .code {
        width: 17.5vw;
        left: 4.3vw;
        top: -8.75vw;
    }
    .color {
        width: 17.5vw;
        left: 0.625vw;
        bottom: 0.625vw;
    }
    .font {
        width: 20vw;
        right: 1.5vw;
        top: -9.375vw;
    }
    .mouse2 {
        width: 19.375vw;
        right: -2.5vw;
        bottom: -7.5vw;
    }
    .curve-line-2 {
        width: 30vw;
        top: -58vw;
        right: -10vw;
    }
}

/* Competitors */
#competitors{
    padding: 5rem 0;
    position: relative;
    z-index: -2;

    .shapes-container {
        margin-top: 6.25vw;
    }
    .marketing-scene {
        width: 60%;
        margin: auto 0;
    }
    .mega-phone {
        width: 13.75vw;
        left: 4.375vw;
        bottom: 0;
    }
    .cubes {
        width: 13.75vw;
        left: 28.75vw;
        bottom: -4.375vw;
    }
    .hand-right-pink {
        width: 18.75vw;
        right: 5vw;
        bottom: -5.6vw;
    }
    .ball-yellow {
        width: 10.6vw;
        right: -3.1vw;
        top: 16.8vw;
    }

    .lets-chat {
        margin-top: 6.25vw;
    }
    .curve-line-3 {
        z-index: -1 !important;
        width: 22vw;
        top: -23vw;
        right: 5vw;
    }
    .curve-line-4 {
        z-index: -2;
        width:150%;
        left: -15vw;
        top: 5vw;
    }
}

/* Launching */
#launching{
    padding: 5rem 0;
    position: relative;

    .shapes-container {
        margin-top: 6.25vw;
    }
    .rocket {
        width: 21.8vw;
        margin: auto 0;
    }
    .cloud {
        width: 13.75vw;
        left: 13.1vw;
        top: 7.5vw;
    }
    .cloud2 {
        width: 13.75vw;
        left: 35.6vw;
        top: 0;
    }
    .message {
        width: 28.1vw;
        left: -3.1vw;
        bottom: 5.6vw;
    }
    .triangle {
        width: 11.25vw;
        right: 12.5vw;
        bottom: 15.6vw;
    }
    .search {
        width: 25vw;
        right: 15vw;
        bottom: -1.8vw;
    }
}

/* What We Do */
#what_we_do{
    padding: 5rem 0;
    position: relative;

    .shapes-container {
        margin-top: 0;
    }
    .folder {
        width: 80%;
        margin: auto 0;
    }
    .mask {
        width: 20vw;
        left: 12.5vw;
        top: 6.25vw;
        z-index:-1;
    }
    .keys {
        width: 12.5vw;
        right: 15.6vw;
        top: 18.75vw;
        z-index: -1;
    }
    .cup {
        width: 18.75vw;
        right: 6.25vw;
        bottom: -50px;
    }
    .cubes {
        width: 14.3vw;
        right: -3.1vw;
        top: 14.3vw;
        transform: rotate(-125deg);
    }
    .curve-line-4 {
        z-index: -2;
        width: 150%;
        left: -15vw;
        top: 10vw;
    }
}

/* Our Secret */
#our_secret{
    padding: 5rem 0;
    position: relative;

    .shapes-container {
        margin-top: 6.25vw;
    }
    .man-center {
        width: 80%;
        margin: auto 0;
    }
    .bucket-shadow {
        width: 25vw;
        left: 3.1vw;
        top: 6.25vw;
        z-index:-1;
    }
    .ball-yellow {
        width: 12.5vw;
        left: -6.25vw;
        top: 25vw;
        z-index: -1;
    }
    .cube-single {
        width: 10.6vw;
        right: 9.3vw;
        top: 7.5vw;
    }
    .code {
        width: 12.5vw;
        right: 4.3vw;
        bottom: 21.25vw;
        transform: rotate(70deg);
    }
    .circle-1{
        background: rgba(250, 184, 196, 0.4);
        width: 17vw;
        height: 17vw;
        left: 9vw;
        top: 10.5vw;
    }
    .circle-2{
        background: #6865FF;
        opacity: 0.4;
        width: 5vw;
        height: 5vw;
        left: 11vw;
        top: 23vw;
    }
    .circle-3{
        background: #6865FF;
        width: 12vw;
        height: 12vw;
        right: 5vw;
        top: 3vw;
    }
    .curve-line {
        z-index: -2;
        width:150%;
        left: -15vw;
        top: 8vw;
    }
}

/* Download */
#download {
    padding-top: 150px;
    padding-bottom: 100px;

    h4 {
        font-family: 'Gilroy Light';
        font-size: 30px;
        line-height: 112%;
        color: #FFFFFF;
    }
    
    button{
        font-size: 16px;
        color: #26272A;
        font-weight: 600;
    }
    .shapes-container{
        z-index: 0
    }
    h1, p{
        z-index: 1;
        position: relative;
    }
    .web-btn {
        box-shadow: 20px 21px 94px 40px rgba(36, 47, 122, 0.23);
        border-radius: 20px;
    }
    .circle-1 {
        width: 10vw;
        height: 10vw;
        left: 23.5vw;
        top: -3vw;
        background: #CFE15E;
        mix-blend-mode: normal;
        transform: matrix(1, 0, 0, -1, 0, 0);
    }
}

.grid-blue-container {
    background: url('../img/homepage/bg-blue.png');
    background-repeat: no-repeat;
    border-radius: 31px;
    padding: 10px;
} 
.grid-blue {
    min-height: 650px;
    width:100%;
    background: url('../img/homepage/outer-blue.png');
    background-repeat: no-repeat;
    border-radius: 25px;
    position: relative;
    top: -30px;
    left: 15px;
    padding: 40px;
}
.grid-orange-container{
    background: url('../img/homepage/bg-orange.png');
    background-repeat: no-repeat;
    border-radius: 31px;
    padding: 10px;
} 
.grid-orange {
    min-height: 650px;
    width:100%;
    background: url('../img/homepage/outer-orange.png');
    background-repeat: no-repeat;
    border-radius: 25px;
    position: relative;
    top: -30px;
    left: 15px;
    padding: 40px;
}
.grid-green-container{
    background: url('../img/homepage/bg-green.png');
    background-repeat: no-repeat;
    border-radius: 31px;
    padding: 10px;
} 
.grid-green {
    min-height: 650px;
    width:100%;
    background: url('../img/homepage/outer-green.png');
    background-repeat: no-repeat;
    border-radius: 25px;
    position: relative;
    top: -30px;
    left: 15px;
    padding: 40px;
}
