:root{
    /* shapes color */
    --yellow: #FFDC60;
    --pink: #FAB8C4;
    --blue: #5956E9;
    --red: #C75C6F;
    --light-green: #90D0B1;
    --primary-font-color: #292930;
    --white: #fff;
    --dim: #979797;
    --main-font: 'Poppins';
    --regular-font: normal;
    --thin-font: 100;
    --light-font: 300;
    --medium-font: 500;
    --semi-bold-font: 600;
    --bold-font: bold;
    --extra-bold-font: 800;
}