/* Hero */

/*.hero-content {
  margin-top: 150px; }*/

.hero {
  overflow: visible; }

.hero-text {
  margin-top: 200px; }

.heart-string {
  position: absolute;
  width: 250px;
  z-index: -1;
  left: 260px;
  top: 540px; }

.headline .man-rocket {
  width: 38vw;
  left: 34vw; }

.headline .bg {
  width: 25vw;
  right: 0px;
  top: 6.25vw; }

.headline .cube-white {
  width: 14.5vw;
  left: 33vw;
  top: 30vw; }

.headline .flower-pot {
  width: 8vw;
  right: -5.75vw;
  top: 15.5vw; }

.headline .mouse {
  width: 18.75vw;
  right: -9.375vw;
  top: 34.375vw; }

.headline .ball {
  width: 14.375vw;
  left: 18.75vw;
  top: 3.125vw; }

.headline .circle-1 {
  background: rgba(250, 184, 196, 0.18);
  width: 26.25vw;
  height: 26.25vw;
  left: 5vw;
  top: 9.3vw; }

/* Awards */
#awards {
  padding-top: 0vw; }
  #awards .container {
    margin-top: 6.25vw; }
  #awards img {
    margin-top: 1.25vw; }

#awards img {
  width: 100%; }

/* Light Bulb Moments */
#light-bulb {  }
  #light-bulb .flower {
    position: absolute;
    width: 20vw;
    left: -3vw;
    top: -4vw; }
  #light-bulb .lamp {
    position: absolute;
    width: 30vw;
    right: -17vw;
    top: -9vw; }
  #light-bulb .cloud {
    position: absolute;
    width: 14.375vw;
    left: 6.25vw;
    top: -23.75vw; }
  #light-bulb .bucket {
    width: 14vw; }
  #light-bulb .container-center {
    margin-top: 15.625vw; }
  #light-bulb .circle-1 {
    width: 31.25vw;
    height: 31.25vw;
    background: rgba(250, 184, 196, 0.18);
    right: -9.375vw;
    top: -34.375vw; }
  #light-bulb .sub-title {
    margin-top: 1.875vw; }
  #light-bulb .string {
    width: 13.75vw;
    transform: rotate(50.75deg);
    top: 2.5vw;
    right: 21.875vw; }

/* Make Business Plan */
#business_plan {
  padding: 0rem;
  position: relative; }
  #business_plan .shapes-container {
    z-index: 1 !important; }
  #business_plan .business-scene {
    width: 50%;
    position: relative;
    margin: 0 auto !important;
    display: block; }
  #business_plan .cursor {
    position: absolute;
    width: 7vw;
    top: 3vw;
    left: 35vw; }
  #business_plan .business-card {
    position: absolute;
    width: 18vw;
    right: 8vw;
    top: 7vw; }
  #business_plan .hand-left {
    position: absolute;
    width: 14vw;
    top: 11vw;
    left: 11vw; }
  #business_plan .hand-right {
    position: absolute;
    width: 15vw;
    bottom: 0vw;
    right: 9vw; }
  #business_plan .circle-1 {
    background: rgba(250, 184, 196, 0.18);
    width: 20vw;
    height: 20vw;
    right: 10vw;
    top: 16vw;
    z-index: -1; }

#business_legit {
  padding: 10rem 0;
  position: relative; }
  #business_legit .man-checker {
    width: 75vw;
    margin-left: 3.4vw; }
  #business_legit .cubes {
    width: 15.625vw;
    left: -6.25vw;
    top: 0px; }
  #business_legit .ball-blue {
    width: 10vw;
    right: 11.25vw;
    top: 10.625vw; }
  #business_legit .files {
    width: 28.125vw;
    left: 6.25vw;
    bottom: 18.75vw; }
  #business_legit .message {
    width: 18.75vw;
    right: 9.3vw;
    bottom: 18.75vw; }
  #business_legit .listing {
    z-index: -1;
    height: 31.25vw;
    left: -12.5vw;
    top: 21.8vw; }
  #business_legit .circle-1 {
    width: 38vw;
    height: 38vw;
    background: rgba(250, 200, 184, 0.18);
    top: 8vw;
    left: 15vw; }

/* Adoption */
#adoption {
  padding: 0 0 5rem 0;
  position: relative; }
  #adoption .container {
    padding-bottom: 7vw; }
  #adoption .shapes-container {
    margin-top: 18.75vw; }
  #adoption .flat-monitor {
    width: 50%;
    margin: auto 0; }
  #adoption .cylinder-red {
    width: 6.25vw;
    left: 13.75vw;
    top: -9.375vw; }
  #adoption .cylinder-green {
    width: 6.25vw;
    right: 12.5vw;
    top: -0.6vw; }
  #adoption .compas {
    width: 9.3vw;
    left: 11.25vw;
    bottom: 1.25vw; }
  #adoption .pie-chart {
    z-index: -1;
    width: 20vw;
    right: 7.5vw;
    bottom: 0vw;
    z-index: 1; }
  #adoption .circle-1 {
    background: rgba(214, 96, 255, 0.11);
    width: 27vw;
    height: 27vw;
    left: 14vw;
    top: 18vw; }
  #adoption .circle-2 {
    background: rgba(96, 150, 255, 0.11);
    width: 25vw;
    height: 25vw;
    right: 3vw;
    top: -9vw; }

/* Funding */
#funding {
  padding: 5rem 0;
  position: relative; }
  #funding .shapes-container {
    margin-top: 200px; }
  #funding .sim {
    width: 90%; }
  #funding .ball-yellow {
    width: 9.3vw;
    left: -7.5vw;
    top: 12.5vw; }
  #funding .files {
    width: 21.8vw;
    left: 0px;
    top: 14.3vw; }
  #funding .phone-circle-graph {
    width: 6.25vw;
    right: 14.3vw;
    top: 6.25vw; }
  #funding .cubes {
    width: 12.5vw;
    right: -3.1vw;
    top: -5vw; }
  #funding .dollar-coin {
    width: 18.75vw;
    left: 23.125vw;
    top: -5vw; }
  #funding .calculator {
    width: 18.75vw;
    left: 18.75vw;
    bottom: 7.5vw; }
  #funding .curve-line {
    z-index: -2;
    width: 150%;
    left: -15vw; }

/* User Experience */
#user_experience {
  padding: 10rem 0;
  position: relative; }
  #user_experience .shapes-container {
    margin-top: 12.5vw; }
  #user_experience .user-experience {
    width: 80%;
    margin: auto 0; }
  #user_experience .marker {
    width: 21.8vw;
    left: 25vw;
    top: -5vw; }
  #user_experience .hand-right {
    width: 18.75vw;
    right: 7.5vw;
    top: 3.1vw; }
  #user_experience .cubes {
    width: 15.6vw;
    right: 0px;
    top: 21.8vw; }

/* Good Code */
#good_code {
  padding: 5rem 0;
  position: relative; }
  #good_code .shapes-container {
    margin-top: 12.5vw;
    margin-bottom: 6.25vw; }
  #good_code .blue-scene {
    width: 60%;
    margin: auto 0; }
  #good_code .code {
    width: 17.5vw;
    left: 4.3vw;
    top: -8.75vw; }
  #good_code .color {
    width: 17.5vw;
    left: 0.625vw;
    bottom: 0.625vw; }
  #good_code .font {
    width: 20vw;
    right: 1.5vw;
    top: -9.375vw; }
  #good_code .mouse2 {
    width: 19.375vw;
    right: -2.5vw;
    bottom: -7.5vw; }
  #good_code .curve-line-2 {
    width: 30vw;
    top: -58vw;
    right: -10vw; }

/* Competitors */
#competitors {
  padding: 5rem 0;
  position: relative;
  z-index: -2; }
  #competitors .shapes-container {
    margin-top: 6.25vw; }
  #competitors .marketing-scene {
    width: 60%;
    margin: auto 0; }
  #competitors .mega-phone {
    width: 13.75vw;
    left: 4.375vw;
    bottom: 0; }
  #competitors .cubes {
    width: 13.75vw;
    left: 28.75vw;
    bottom: -4.375vw; }
  #competitors .hand-right-pink {
    width: 18.75vw;
    right: 5vw;
    bottom: -5.6vw; }
  #competitors .ball-yellow {
    width: 10.6vw;
    right: -3.1vw;
    top: 16.8vw; }
  #competitors .lets-chat {
    margin-top: 6.25vw; }
  #competitors .curve-line-3 {
    z-index: -1 !important;
    width: 22vw;
    top: -23vw;
    right: 5vw; }
  #competitors .curve-line-4 {
    z-index: -2;
    width: 150%;
    left: -15vw;
    top: 5vw; }

/* Launching */
#launching {
  padding: 5rem 0;
  position: relative; }
  #launching .shapes-container {
    margin-top: 6.25vw; }
  #launching .rocket {
    width: 21.8vw;
    margin: auto 0; }
  #launching .cloud {
    width: 13.75vw;
    left: 13.1vw;
    top: 7.5vw; }
  #launching .cloud2 {
    width: 13.75vw;
    left: 35.6vw;
    top: 0; }
  #launching .message {
    width: 28.1vw;
    left: -3.1vw;
    bottom: 5.6vw; }
  #launching .triangle {
    width: 11.25vw;
    right: 12.5vw;
    bottom: 15.6vw; }
  #launching .search {
    width: 25vw;
    right: 15vw;
    bottom: -1.8vw; }

/* What We Do */
#what_we_do {
  padding: 5rem 0;
  position: relative; }
  #what_we_do .shapes-container {
    margin-top: 0; }
  #what_we_do .folder {
    width: 80%;
    margin: auto 0; }
  #what_we_do .mask {
    width: 20vw;
    left: 12.5vw;
    top: 6.25vw;
    z-index: -1; }
  #what_we_do .keys {
    width: 12.5vw;
    right: 15.6vw;
    top: 18.75vw;
    z-index: -1; }
  #what_we_do .cup {
    width: 18.75vw;
    right: 6.25vw;
    bottom: -50px; }
  #what_we_do .cubes {
    width: 14.3vw;
    right: -3.1vw;
    top: 14.3vw;
    transform: rotate(-125deg); }
  #what_we_do .curve-line-4 {
    z-index: -2;
    width: 150%;
    left: -15vw;
    top: 10vw; }

/* Our Secret */
#our_secret {
  padding: 5rem 0;
  position: relative; }
  #our_secret .shapes-container {
    margin-top: 6.25vw; }
  #our_secret .man-center {
    width: 80%;
    margin: auto 0; }
  #our_secret .bucket-shadow {
    width: 25vw;
    left: 3.1vw;
    top: 6.25vw;
    z-index: -1; }
  #our_secret .ball-yellow {
    width: 12.5vw;
    left: -6.25vw;
    top: 25vw;
    z-index: -1; }
  #our_secret .cube-single {
    width: 10.6vw;
    right: 9.3vw;
    top: 7.5vw; }
  #our_secret .code {
    width: 12.5vw;
    right: 4.3vw;
    bottom: 21.25vw;
    transform: rotate(70deg); }
  #our_secret .circle-1 {
    background: rgba(250, 184, 196, 0.4);
    width: 17vw;
    height: 17vw;
    left: 9vw;
    top: 10.5vw; }
  #our_secret .circle-2 {
    background: #6865FF;
    opacity: 0.4;
    width: 5vw;
    height: 5vw;
    left: 11vw;
    top: 23vw; }
  #our_secret .circle-3 {
    background: #6865FF;
    width: 12vw;
    height: 12vw;
    right: 5vw;
    top: 3vw; }
  #our_secret .curve-line {
    z-index: -2;
    width: 150%;
    left: -15vw;
    top: 8vw; }

/* Download */
#download {
  padding-top: 150px;
  padding-bottom: 100px; }
  #download h4 {
    font-family: 'Gilroy Light';
    font-size: 30px;
    line-height: 112%;
    color: #FFFFFF; }
  #download button {
    font-size: 16px;
    color: #26272A;
    font-weight: 600; }
  #download .shapes-container {
    z-index: 0; }
  #download h1, #download p {
    z-index: 1;
    position: relative; }
  #download .web-btn {
    box-shadow: 20px 21px 94px 40px rgba(36, 47, 122, 0.23);
    border-radius: 20px; }
  #download .circle-1 {
    width: 10vw;
    height: 10vw;
    left: 23.5vw;
    top: -3vw;
    background: #CFE15E;
    mix-blend-mode: normal;
    transform: matrix(1, 0, 0, -1, 0, 0); }

.grid-blue-container {
  background: url("../img/homepage/bg-blue.png");
  background-repeat: no-repeat;
  border-radius: 31px;
  padding: 10px; }

.grid-blue {
  min-height: 650px;
  width: 100%;
  background: url("../img/homepage/outer-blue.png");
  background-repeat: no-repeat;
  border-radius: 25px;
  position: relative;
  top: -30px;
  left: 15px;
  padding: 40px; }

.grid-orange-container {
  background: url("../img/homepage/bg-orange.png");
  background-repeat: no-repeat;
  border-radius: 31px;
  padding: 10px; }

.grid-orange {
  min-height: 650px;
  width: 100%;
  background: url("../img/homepage/outer-orange.png");
  background-repeat: no-repeat;
  border-radius: 25px;
  position: relative;
  top: -30px;
  left: 15px;
  padding: 40px; }

.grid-green-container {
  background: url("../img/homepage/bg-green.png");
  background-repeat: no-repeat;
  border-radius: 31px;
  padding: 10px; }

.grid-green {
  min-height: 650px;
  width: 100%;
  background: url("../img/homepage/outer-green.png");
  background-repeat: no-repeat;
  border-radius: 25px;
  position: relative;
  top: -30px;
  left: 15px;
  padding: 40px; }

/* RESPONSIVE */
@media (max-width: 768px) {
  /* Setting Spaces */
  .hero-content {
    margin-top: 0 !important; }
  .hero-text {
    margin-top: 4rem !important; }
  #awards {
    padding-top: 0rem !important; }
  #light-bulb .container-center {
    margin-top: 0rem !important; }
  #light-bulb .lamp {
    right: -15vw !important;
    top: -10vw !important; }
  #light-bulb .flower {
    left: 0vw !important;
    top: -5vw !important; }
  #business_plan {
    padding: 0 !important; }
  #business_legit {
    padding: 2rem 0 !important; }
  #funding {
    padding: 0 !important; }
    #funding .shapes-container {
      margin-top: 5rem !important; }
  #user_experience {
    padding: 3rem 0 !important; }
  #good_code {
    padding: 0 !important; }
  #launching {
    padding: 0 !important; }
  #download {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important; }
    #download .grid-blue {
      min-height: 350px !important; }
    #download .grid-orange {
      min-height: 350px !important; }
    #download .grid-green {
      min-height: 350px !important; } }
